.signup-view
{
  background: linear-gradient($balanced, white 70%);
}

.signup-title-div
{
  margin-top: 10px;
}

.signup-title
{
  color: whitesmoke;
  font-style: italic;
  font-family: 'Merienda', cursive;
}

.signup-div-instructions
{
  margin-top: 50px;
}

.signup-instructions
{
  color: whitesmoke;
}

.signup-button-cancel
{
  width: 95%;
}

.css-form
{
  margin-top: -10px;
}

.css-form
.list
{
  margin: 0px;
  background: transparent;
}

.css-form
label
{
  margin-bottom: 10px;
  border-radius: 3px;
}

.css-form
::-webkit-input-placeholder
{
  color: lightgray;
}

:-ms-input-placeholder
{
  color: lightgray;
}

.css-form
input.ng-invalid.ng-touched
{
  /*background-color: pink;*/
}

.signup-div-submit
{

}

.signup-button-submit
{
  width: 100%;
}

.signup-error-text
{
  color: red;
  font-weight: bold;
  padding-left: 10px;
}
