<ion-view title="Youdle Signup" class="signup-view">
	<ion-content>
		<div class="row signup-title-div">
			<h1 class="signup-title">Youdle!</h1>
		</div>
		<div class="row signup-div-instructions">
			<div class="col">
				<h4 class="signup-instructions">Sign up for free!</h4>
			</div>
		</div>
		<form class="css-form" name="registerForm" novalidate>
			<div class="row">
	    	<div class="col">
					<div class="list list-inset">
	          <label class="item item-input">
                 
	            <input type="text" placeholder="First name" ng-model="vm.first" name="vFirst" ng-blur="vm.isValidValues()" required>
                <i class="icon ion-android-cancel icon-input-warn" ng-show="!vm.firstNameValid && !vm.initialState" ></i>
                <i class="icon ion-checkmark-circled icon-input-valid" ng-show="(vm.firstNameValid && !vm.initialState)" ></i>
	          </label>
	          <label class="item item-input">
	            <input type="text" placeholder="Last name" ng-model="vm.last" ng-blur="vm.isValidValues()">
                <i class="icon ion-android-cancel icon-input-warn" ng-show="!vm.lastNameValid && !vm.initialState" ></i>
                <i class="icon ion-checkmark-circled icon-input-valid" ng-show="(vm.lastNameValid && !vm.initialState)" ></i>
	
	          </label>
			  <label class="item item-input">
	            <input type="email" placeholder="Email" ng-model="vm.email" name="vEmail" ng-blur="vm.isValidValues()" ng-keypress="vm.isValidValues()" required>
                <i class="icon ion-android-cancel icon-input-warn" ng-show="!vm.emailValid && !vm.initialState" ></i>
                <i class="icon ion-checkmark-circled icon-input-valid" ng-show="(vm.emailValid && !vm.initialState)" ></i>
	
	          </label>
						<label class="item item-input">
	            <input type="text" placeholder="Username" ng-model="vm.username" ng-blur="vm.isValidValues()">
                <i class="icon ion-android-cancel icon-input-warn" ng-show="!vm.userNameValid && !vm.initialState" ></i>
                <i class="icon ion-checkmark-circled icon-input-valid" ng-show="(vm.userNameValid && !vm.initialState)" ></i>
	
	          </label>
						<label class="item item-input">
	            <input type="password" placeholder="Password" ng-model="vm.password" name="vPassword"  ng-blur="vm.isValidValues()" required>
                <i class="icon ion-android-cancel icon-input-warn" ng-show="!vm.passwordValid && !vm.initialState" ></i>
                <i class="icon ion-checkmark-circled icon-input-valid" ng-show="(vm.passwordValid && !vm.initialState)" ></i>
	
	          </label>
			 <label class="item item-input">
	            <input type="password" placeholder="Confirm password" ng-model="vm.passwordConfirm" name="vConfirmPassword" ng-blur="vm.isValidValues()" required>
                <i class="icon ion-android-cancel icon-input-warn" ng-show="!vm.passwordConfirmValid && !vm.initialState" ></i>
                <i class="icon ion-checkmark-circled icon-input-valid" ng-show="(vm.passwordConfirmValid && !vm.initialState)" ></i>
	
             </label>
	        </div>
	    	</div>
	    </div>
			<!--<div class="row">
				<div class="col">
					<div ng-show="registerForm.$submitted">
						<div class="signup-error-text" ng-show="registerForm.vFirst.$error.required">
							First name is required
						</div>
						<div class="signup-error-text" ng-show="registerForm.vEmail.$error.required">
							Email is required
						</div>
						<div class="signup-error-text" ng-show="registerForm.vPassword.$error.required">
							Password is required
						</div>
						<div class="signup-error-text" ng-show="registerForm.vConfirmPassword.$error.required">
							Passwords do not match
						</div>
					</div>
				</div>
			</div>-->
			<div class="row signup-div-submit">
				<div class="col col-100 text-center">
					<button type="button" class="button button-calm signup-button-submit" ng-click="vm.submitClick()" name="button">Submit</button>
				</div>
			</div>
			<!-- <div class="row signup-div-submit">
				<div class="col text-right">
					<button type="submit" class="signup-button-submit" ng-click="vm.submitClick()" name="button">SUBMIT <i class="icon ion-chevron-right"></i></button>
				</div>
			</div> -->
		</form>
	</ion-content>
</ion-view>
