<ion-view title="Youdle Signup">
	<div class="row signup-div-instructions">
		<div class="col">
			<span>Please tell us about yourself</span>
		</div>
	</div>
	<form class="css-form" name="registerForm" novalidate>
		<div class="row">
    	<div class="col">
				<div class="list list-inset">
          <label class="item item-input">
            <input type="text" placeholder="First name" ng-model="vm.first" name="vFirst" required>
          </label>
          <label class="item item-input">
            <input type="text" placeholder="Last name" ng-model="vm.last">
          </label>
					<label class="item item-input">
            <input type="email" placeholder="Email" ng-model="vm.email" name="vEmail" required>
          </label>
					<label class="item item-input">
            <input type="text" placeholder="Username" ng-model="vm.username">
          </label>
					<label class="item item-input">
            <input type="password" placeholder="Password" ng-model="vm.password" name="vPassword" required>
          </label>
					<label class="item item-input">
            <input type="password" placeholder="Confirm password" ng-model="vm.passwordConfirm" name="vConfirmPassword" required>
          </label>
        </div>
    	</div>
    </div>
		<div class="row">
			<div class="col">
				<div ng-show="registerForm.$submitted">
					<div class="signup-error-text" ng-show="registerForm.vFirst.$error.required">
						First name is required
					</div>
					<div class="signup-error-text" ng-show="registerForm.vEmail.$error.required">
						Email is required
					</div>
					<div class="signup-error-text" ng-show="registerForm.vPassword.$error.required">
						Password is required
					</div>
					<div class="signup-error-text" ng-show="registerForm.vConfirmPassword.$error.required">
						Passwords do not match
					</div>
				</div>
			</div>
		</div>
		<div class="row signup-div-submit">
			<div class="col text-right">
				<button type="submit" class="signup-button-submit" ng-click="vm.submitClick()" name="button">SUBMIT <i class="icon ion-chevron-right"></i></button>
			</div>
		</div>
	</form>
</ion-view>
