.layout-nav-bar
{
  background: linear-gradient($balanced, #59A3D3);
  color: whitesmoke;
  font-style: italic;
  font-family: 'Merienda', cursive;
}

.layout-nav-bar
.title
{
  font-weight: bold; 
  font-size: x-large;
}

.layout-nav-bar
.button
{
  color: whitesmoke;
}
