//$intro-background: #E9F6FF;  // for lighter theme
$intro-background: $dark;  // for darker theme

.intro-view
{
  //background: linear-gradient(145deg, #ABD0E8, $intro-background 40%);  // option for lighter theme
  background: linear-gradient(145deg, #667494, $intro-background 30%);  // option for darker theme
}

.intro-content
{
  // background-color: $intro-background;
  height: 100%;
}

.intro-col-titleMessage
{
  margin-top: 50px;
}

.intro-title
{
  color: whitesmoke;
  font-style: italic;
  font-size: 20pt;
  font-weight: bold;
  font-family: 'Merienda', Cursive;
}

.intro-message
{
  color: whitesmoke;
  font-style: italic;
  font-size: 12pt;
  font-weight: bold;
  font-family: 'Merienda', Cursive;
}

.intro-logo
{
  padding: 40px;
}

.intro-logo
img
{
  width: 100%;
}

.intro-button-login,
.intro-button-login.activated,
.intro-button-login.active,
.intro-button-login:hover,
.intro-button-login:focus
{
  width: 100%;
  font-weight: bold;
  color: $intro-background !important;
}

.intro-div-signup
{
  position: absolute;
  bottom: 20px;
  width: 100%;
}

.intro-div-signup > div
{
  text-align: center;
}

.intro-button-signup,
.intro-button-signup.active,
.intro-button-signup.activated
.intro-button-signup:hover,
.intro-button-signup:focus
{
  width: 100%;
  font-weight: bold;
  color: $intro-background !important;
  background-color: $balanced !important;
}
