.intro-content
{
  background-color: $calm;
  height: 100%;
}

.intro-col-message
{
  margin-top: 100px;
}

.intro-message
{
  color: whitesmoke;
  font-style: italic;
  font-size: 12pt;
}

.intro-logo
{
  margin-top: 30px;
}

.intro-button-login,
.intro-button-login.activated,
.intro-button-login.active,
.intro-button-login:hover,
.intro-button-login:focus
{
  padding-left: 100px;
  padding-right: 100px;
  font-weight: bold;
  color: #3399FF;
  margin-top: 30px;
}

.intro-div-signup
{
  position: absolute;
  bottom: 20px;
  width: 100%;
}

.intro-div-signup > div
{
  text-align: center;
}

.intro-button-signup,
.intro-button-signup.active,
.intro-button-signup.activated
{
  padding-left: 100px;
  padding-right: 100px;
  font-weight: bold;
  color: white !important;
  background-color: #3399FF !important;
}
