.home-div-card
.item
{
  padding: 10px;
}

.home-div-cardHeaderRow
{
  margin-bottom: 5px;
}

.home-div-cardInfo
{
  width: 100%;
}

.home-div-cardInfo
i
{
  font-size: xx-large;
}

.home-div-userImage
{
  margin-right: 10px;
  float: left;
}

.home-div-userInfo
{
  float: left;
}

.home-div-cardDate
{
  margin-top: -6px;
  font-size: x-small;
  color: darkgray;
}

.home-div-cardContent
{
  margin-top: 0px;
}
