.home-div-card
.item
{
  padding: 0px;
}

.home-div-card
{
  margin: 5px;
}

.home-button-option
{
  height: 30px;
  font-size: small;
  min-height: 0px;
  line-height: 0px;
  color: whitesmoke !important;
}

.home-div-cardHeaderRow
{
  margin-bottom: 5px;
}

.home-div-cardInfo
{
  width: 100%;
}

.home-div-cardInfo i
{
  font-size: xx-large;
}

.home-div-userName
{
  font-size: smaller;
}

.home-div-userImage
{
  margin-right: 10px;
  float: left;
}

.home-div-userInfo
{
  float: left;
}

.home-div-cardDate
{
  margin-top: -6px;
  font-size: xx-small;
  color: darkgray;
}

.home-div-cardContent
{
  margin-top: 0px;
  padding: 0px;
}

.home-row-cardQuestion
{
  padding: 0px;
  font-size: smaller;
}

.home-button-changeVote
{
  background-color: white;
  border: none;
  color: #070565;
  font-size: x-small;
}

.home-div-progress > progress
{
  margin: 0px;
  margin-top: 6px;
  background-color: white; // this just wakes up the styling for progress bar
}

.home-div-progress > progress::-webkit-progress-value
{
  background-color: #070564;
  height: 10px;
  border-radius: 4px;
}

.home-div-progress > progress::-webkit-progress-bar
{
  background-color: transparent;
}
