.home-div-card
.item
{
  padding: 0px;
  border: 0px;
  background-color: transparent;
}

.home-div-card
{
  margin: 5px;
}

.home-div-category
{
  color: $dim;
}

.home-div-supplementalIcons
{
  padding: 0px;
  color: $energized;
}

.home-div-supplementalIcons
div.col
{
  padding: 0px;
}

.home-div-supplementalIcons
i
{
  float: right;
}

.home-button-option
{
  height: 30px;
  font-size: small;
  min-height: 0px;
  line-height: 0px;
  color: whitesmoke !important;
}

.home-div-cardHeaderRow
{
  margin-bottom: 5px;
}

.home-div-cardHeaderRow
i
{
  font-size: 20px;
}

.home-div-cardInfo
{
  width: 100%;
}

.home-div-cardInfo i
{
  font-size: xx-large;
}

.home-div-userName
{
  font-size: smaller;
}

.home-div-userImage
{
  margin-right: 10px;
  float: left;
}

.home-div-userInfo
{
  float: left;
}

.home-div-cardDate
{
  margin-top: -6px;
  font-size: xx-small;
  color: darkgray;
}

.home-div-cardContent
{
  margin-top: 0px;
  padding: 0px;
}

.home-div-cardContent > .col,
.home-div-cardContent > .col > .row
{
  padding-top: 0px;
}

.home-row-cardQuestion
{
  // padding: 0px;
}

.options
{
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.options .button
{
  margin: 0px;
}

.home-div-results
.col
{
  padding: 0px;
}

.home-div-results
.percentage
{
  margin-left: 10px;
}

.home-button-changeVote
{
  background-color: white;
  border: none;
  color: #070565;
  font-size: smaller;
  margin-top: 5px;
}

.home-div-progress > progress
{
  margin: 0px;
  margin-top: 6px;
  background-color: white; // this just wakes up the styling for progress bar
}

.home-div-progress > progress::-webkit-progress-value
{
  background-color: $dim;
  height: 10px;
  border-radius: 4px;
}

.home-div-progress > progress::-webkit-progress-bar
{
  background-color: transparent;
}

.progress-top > progress::-webkit-progress-value
{
  background-color: $energized;
}

.home
.closing-date > div
{
  float: right;
  font-size: x-small;
  margin-bottom: -5px;
}
