
<ion-view title="Youdle">
    <ion-content>
      <div class="card" ng-repeat="card in vm.cards">
        <div class="item item-text-wrap">
          <div class="row">
            {{card.question}}
          </div>
          <div class="row">
            <div class="col" ng-repeat="answer in card.answers">
              <button class="button button-block button-calm">
                {{answer}}
              </button>
            </div>
          </div>
        </div>
      </div>
    </ion-content>
</ion-view>
