.login-view
{
  background: linear-gradient($balanced, white 30%);

  ion-content > div
  {
    height: 100%;
  }

  .signup
  {
    position: absolute;
    bottom: 20px;
    width: 100%;
  }

  .signup > div
  {
    margin-left: 20px;
    margin-right: 20px;
  }

  .signup button
  {
    background-color: $energized;
  }
}

.login-header-image
{
  margin-top: 20px;
}

.login-header-image
img
{
  width: 100%;
  max-width: 556px;  // this is the actual width of the image - after this it would get distorted
}

.login-form
{
  margin-top: 20px;
}

.login-div-buttonLogin
{
  margin-left: 10px;
  margin-right: 10px;
}

.login-button-login
{
  background-color: #0277bd;
  color: whitesmoke;
}

.login-row-google > .col
{
  padding: 0 5px;
}

.login-row-facebook > .col
{
  padding: 0 5px;
}

.login-button-google
{
  background-color: #dd4d40;
  color: whitesmoke;
  margin: 0 !important;
}

.login-button-facebook
{
  background-color: #46629e;
  color: whitesmoke;
  margin: 0 !important;
}

.login-form
::-webkit-input-placeholder
{
  color: lightgray;
}

:-ms-input-placeholder
{
  color: lightgray;
}

.item-input
{
  margin-bottom: 10px;
  border-radius: 4px;
}
